.sideBar_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
  width: 10%;
  margin: 0;
  position: sticky;
  top: 0;
  color: goldenrod;
}
/* .sideBar_container * {
  border: 1px solid red;
} */
.sideBar_logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* .logo_link {
  text-decoration: none;
  color: goldenrod;
} */
.logo_link {
  text-decoration: none;
  color: #000814;
  background-color: goldenrod; /* Change this to the color you prefer */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-w,
.letter-v {
  font-size: 60px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background-color: goldenrod;
}

.sideBar_logo h5 {
  margin: 0;
}
.sideBar_nav {
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: space-evenly;
  color: goldenrod;
  height: 35%;
}

.sideBar_container .link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: goldenrod;
  margin: 0;
  border: 2px solid goldenrod;
}

.sideBar_media {
  /* color: #ffffff; */
}
