.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 100px;
  height: 100%;
}
.description p {
  font-size: 1.4rem;
  font-family: "Rubik";
  width: 90%;
  margin: auto;
  height: 100%;
  margin-top: 50px;
  line-height: 30px;
}
.skills {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 100px;
}
.skills h3 {
  color: #ffffff;
  width: 20%;
}
h2 {
  color: #ffffff;
  font-family: "oswald";
  font-size: 3rem;
  width: 90%;
  margin: auto;
}
.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.w3-light-grey {
  width: 80%;
  background-color: darkgray;
  height: 30%;
  margin-right: 15px;
}
.w3-green {
  background-color: green;
  color: #ffffff;
  height: 100%;
}
