.container {
  display: flex;
  flex-direction: column;
}
.work_container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 2px solid black;
  align-content: center;
  padding: 10px;
}
.company h5 {
  font-size: 1rem;
  margin: 0;
}

.projects_container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.projects {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Iframe_BusyBucket {
  display: flex;
  justify-content: center;
}
iframe {
  border: 2px solid black;
}
.singleProject {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 2px solid black;
  align-content: center;
  padding: 10px;
}
.Iframe_MojoPlanner {
  display: flex;
  justify-content: center;
}
.container_title {
  width: 30%;
  display: flex;
  justify-content: center;
}
.container_title h3 {
  font-size: 1.9rem;
}
img {
  width: 800px;
  height: 500px;
  margin: auto;
}
